

body {
	  background-color: powderblue;
	  margin-left:100px;
	}

h1 {
  		
  		text-align: center;
  		color:blue;

	}

div {
		background-color: teal;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
  		padding: 50px;
  		text-align:center;
  		border: 15px gray;

	}
